Repository dtcenter/METplus, pull requests merged in 2021-03, with the labels that each got.

#823 PR 821 --> develop --> develop-ref
  ci/actions/run_tests/Dockerfile
  ci/actions/run_tests/entrypoint.sh
  ci/docker/docker_data/Dockerfile
  ci/jobs/get_artifact_name.sh
  docs/Contributors_Guide/add_use_case.rst
  docs/Contributors_Guide/figure/develop_into_develop-ref.png
  docs/Contributors_Guide/figure/model_applications_example.png
  docs/Contributors_Guide/figure/model_applications_subdir.png
  docs/_static/tc_and_extra_tc-CyclonePlotter_fcstGFS_obsGFS_OPC.png
  docs/_static/tc_and_extra_tc-UserScript_ASCII2NC_PointStat_fcstHAFS_obsFRD_NetCDF.png
  docs/use_cases/model_applications/convection_allowing_models/MODE_fcstFV3_obsGOES_BrightnessTemp.py
  docs/use_cases/model_applications/tc_and_extra_tc/CyclonePlotter_fcstGFS_obsGFS_OPC.py
  docs/use_cases/model_applications/tc_and_extra_tc/UserScript_ASCII2NC_PointStat_fcstHAFS_obsFRD_NetCDF.py
  internal_tests/use_cases/all_use_cases.txt
  metplus/wrappers/cyclone_plotter_wrapper.py
  metplus/wrappers/tc_pairs_wrapper.py
  parm/use_cases/met_tool_wrapper/EnsembleStat/EnsembleStat.conf
  parm/use_cases/model_applications/climate/MODE_fcstCESM_obsGPCP_AsianMonsoonPrecip.conf
  parm/use_cases/model_applications/precipitation/EnsembleStat_fcstWOFS_obsWOFS.conf
  parm/use_cases/model_applications/tc_and_extra_tc/CyclonePlotter_fcstGFS_obsGFS_OPC.conf
  parm/use_cases/model_applications/tc_and_extra_tc/CyclonePlotter_fcstGFS_obsGFS_OPC/extract_opc_decks.py
  parm/use_cases/model_applications/tc_and_extra_tc/UserScript_ASCII2NC_PointStat_fcstHAFS_obsFRD_NetCDF.conf
  parm/use_cases/model_applications/tc_and_extra_tc/UserScript_ASCII2NC_PointStat_fcstHAFS_obsFRD_NetCDF/ci_overrides.conf
  parm/use_cases/model_applications/tc_and_extra_tc/UserScript_ASCII2NC_PointStat_fcstHAFS_obsFRD_NetCDF/hrd_frd_sonde_find_tar.py
  parm/use_cases/model_applications/tc_and_extra_tc/UserScript_ASCII2NC_PointStat_fcstHAFS_obsFRD_NetCDF/hrd_frd_sonde_for_ascii2nc.py
  parm/use_cases/model_applications/tc_and_extra_tc/hrd_frd_sonde_for_ascii2nc.py
Labels: component: documentation, component: graphics, component: use case wrapper, priority: high, requestor: METplus Team

#851 Feature 850 cycloneplotter projection
  metplus/wrappers/cyclone_plotter_wrapper.py
Labels: component: graphics, priority: high, requestor: METplus Team, type: bug

#856 Feature 569 blocking driver
  .github/workflows/main.yml
  ci/jobs/get_metcalcpy.sh
  ci/jobs/get_metplotpy.sh
  docs/_static/s2s-IBL_frequency.png
  docs/_static/s2s-OBS_ERA_blocking_frequency.png
  docs/_static/s2s-OBS_ERA_weather_regime.png
  docs/use_cases/model_applications/s2s/UserScript_fcstGFS_obsERA_Blocking.py
  docs/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_Blocking.py
  docs/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_WeatherRegime.py
  internal_tests/use_cases/all_use_cases.txt
  parm/use_cases/model_applications/s2s/UserScript_fcstGFS_obsERA_Blocking.conf
  parm/use_cases/model_applications/s2s/UserScript_fcstGFS_obsERA_Blocking/Blocking.py
  parm/use_cases/model_applications/s2s/UserScript_fcstGFS_obsERA_Blocking/Blocking_WeatherRegime_util.py
  parm/use_cases/model_applications/s2s/UserScript_fcstGFS_obsERA_Blocking/Blocking_driver.py
  parm/use_cases/model_applications/s2s/UserScript_fcstGFS_obsERA_Blocking/Blocking_fcstGFS_obsERA.conf
  parm/use_cases/model_applications/s2s/UserScript_fcstGFS_obsERA_Blocking/Regrid_PCP_fcstGFS_obsERA_Blocking_orig.conf
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_Blocking.conf
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_Blocking/Blocking.py
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_Blocking/Blocking_WeatherRegime_util.py
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_Blocking/Blocking_driver.py
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_Blocking/Blocking_obsERA_obsOnly.conf
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_Blocking/Regrid_PCP_obsERA_obsOnly_Blocking_orig.conf
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_WeatherRegime.conf
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_WeatherRegime/Blocking_WeatherRegime_util.py
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_WeatherRegime/WeatherRegime.py
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_WeatherRegime/WeatherRegime_driver.py
  parm/use_cases/model_applications/s2s/UserScript_obsERA_obsOnly_WeatherRegime/WeatherRegime_obsERA_obsOnly.conf
Labels: component: use case configuration, priority: high, requestor: University/UIUC, type: new feature, type: new use case
