Repository dtcenter/METplus, pull requests merged in 2022-02, with the labels that each got.

#1425 Feature 1408 use case ptype
  .github/parm/use_case_groups.json
  docs/_static/precipitation-PointStat_fcstMULTI_obsMETAR_PtypeComparisons.png
  docs/use_cases/model_applications/precipitation/PointStat_fcstMULTI_obsMETAR_PtypeComparisons.py
  internal_tests/use_cases/all_use_cases.txt
  parm/use_cases/model_applications/precipitation/PointStat_fcstMULTI_obsMETAR_PtypeComparisons.conf
Labels: METplus: Precipitation

#1446 feature_1403_python_components_table
  docs/Users_Guide/overview.rst
Labels: component: documentation

#1440 Feature 1318 usecase aviso
  .github/parm/use_case_groups.json
  docs/_static/marine_and_cryosphere-GridStat_fcstRTOFS_obsAVISO_climHYCOM_ssh.png
  docs/use_cases/model_applications/marine_and_cryosphere/GridStat_fcstRTOFS_obsAVISO_climHYCOM_ssh.py
  internal_tests/use_cases/all_use_cases.txt
  parm/use_cases/model_applications/marine_and_cryosphere/GridStat_fcstRTOFS_obsAVISO_climHYCOM_ssh.conf
  parm/use_cases/model_applications/marine_and_cryosphere/GridStat_fcstRTOFS_obsAVISO_climHYCOM_ssh/read_rtofs_aviso_hycom.py
Labels: METplus: Marine and Cryosphere
